# Computing MSR from fortranic spiral tip location data
Tim Tyree<br>
6.25.2022

In [1]:
from lib.my_initialization import *

# define module

In [27]:
import re

def strip_line_to_csv(line):
    """
    Example Usage:
str_csv=strip_line_to_csv(line)
value_tuple=eval(str_csv)
    """
    str_csv=re.sub(r'\s+', ',', line.strip())
    return str_csv

 # dev of WJ's spiral tip location data for the Luo-Rudy model

In [7]:
input_folder=f"{nb_dir}/Data/from_wjr"
os.chdir(input_folder)
# input_fn_lst=os.listdir()
# input_fn=input_fnZ_lst[0]
input_fn='tippos_per_001'
input_dir=os.path.join(input_folder,input_fn)

In [39]:
# from itertools import grouper
from itertools import zip_longest
def grouper(iterable, n, fillvalue=None):
    args = [iter(iterable)] * n
    return zip_longest(*args, fillvalue=fillvalue)

In [53]:
trial_num=0
dict_pos_lst=[]
with open(input_dir) as f:
    for lines in grouper(f, 3, ''):
        assert len(lines) == 3
        #process lines
        str_csv=strip_line_to_csv(lines[0])
        value_tuple=eval(str_csv)
        t=value_tuple[0]
        n=value_tuple[1]
        row3=value_tuple[2]
        if n>0:
            str_csv=strip_line_to_csv(lines[1])
            x_tuple=eval(str_csv)
            str_csv=strip_line_to_csv(lines[2])
            y_tuple=eval(str_csv)
            #record for each position
            for x,y in zip(x_tuple,y_tuple):
                dict_pos=dict(trial_num=trial_num,t=t,n=n,x=x-1,y=y-1) #-1 makes wj's min position 0 and max ~ width, as i have been using
                dict_pos_lst.append(dict_pos)
        else:
            trial_num+=1
df_log=pd.DataFrame(dict_pos_lst)
df_log.head()

   trial_num    t  n      x      y
0          0  1.0  6    6.6   25.8
1          0  1.0  6   27.2   63.9
2          0  1.0  6   59.6  199.8
3          0  1.0  6   60.8    2.6
4          0  1.0  6  127.5  199.3

In [54]:
#TODO: determine width and height of the computational domain
DS=0.025
DT=1.
# df_log.describe().loc['min'][['x','y']]
width,height=df_log.describe().loc['max'][['x','y']].values.T
width,height

(200.0, 200.0)

In [47]:
for trial_num,g in df_log.groupby(by='trial_num'):
    #TODO: for each group, g
    #TODO: compute spiral tip trajectories, as before
    #TODO: find annihilation pairs, as before
    #TODO: compute smoothed msr, as before

         trial_num     t  n    x      y
2481720        640  92.0  4  4.9  155.7
2481721        640  92.0  4  7.4  159.9
2481722        640  92.0  4  9.3  153.1
2481723        640  93.0  2  8.4  155.2
2481724        640  93.0  2  8.0  156.7

In [33]:
from itertools import islice
with open(input_dir, 'r') as infile:
    lines_gen = islice(infile, 3)
    for line in lines_gen:
        print (line)

     1.0   6   1

  7.6  28.2  60.6  61.8 128.5 200.2

 26.8  64.9 200.8   3.6 200.3  23.5

In [ ]:
#TODO: dev pythonic parser
with open(input_dir) as f:
    Lines = f.readlines(3)
    str_csv=strip_line_to_csv(Lines[0])
    value_tuple=eval(str_csv)
    str_csv=strip_line_to_csv(Lines[1])
    x_tuple=eval(str_csv)
    str_csv=strip_line_to_csv(Lines[2])
    y_tuple=eval(str_csv)

    for line in Lines:
        count += 1
        print("Line{}: {}".format(count, line.strip()))

In [11]:
#TODO: dev pythonic parser
with open(input_dir) as f:
    count = 0
    max_count=10
    for line in f:
        count += 1
        print("Line{}: {}".format(count, line.strip()))
        if count>max_count:
            break

Line1: 1.0   6   1
Line2: 7.6  28.2  60.6  61.8 128.5 200.2
Line3: 26.8  64.9 200.8   3.6 200.3  23.5
Line4: 2.0   4   6
Line5: 7.3  28.6 130.7 199.6
Line6: 27.1  66.1 200.1  25.0
Line7: 3.0   4   4
Line8: 7.6  28.8 132.8 199.1
Line9: 26.6  67.2 199.9  26.4
Line10: 4.0   4   4
Line11: 7.6  29.0 134.8 198.7

In [17]:
#TODO: wrap pythonic parser to foo
line.strip().replace('  ',',')

'7.6,29.0 134.8 198.7'

In [20]:
line.strip()

'7.6  29.0 134.8 198.7'